<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  {{#if css}}
    <link rel="stylesheet" href="/css/{{css}}.css">
  {{/if}}
  <title>餐廳評論網</title>
</head>
<body>
  {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">餐廳評論網</a>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto"></ul>
      <div>
        {{#if user.isAdmin}}
          <a href="/admin" style="color: white;margin-right: 10px;">Admin 後台</a>
        {{/if}}
        {{#if user}}
          <span class="text-white mr-2">Hi, {{user.name}}</span>
          <a href="/users/{{user.id}}" class="text-white mr-2">Profile</a>
          <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Log Out</a>
        {{/if}}
      </div>
    </div>
  </nav>

  {{!-- main content --}}
  <main class="mt-5">
    <div class="album py-5 bg-light">
      <div class="container">
        {{#if success}}
          <div class="alert alert-success">{{success}}</div>
        {{/if}}
        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{{body}}}
      </div>
    </div>
  </main>

  <import>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </import>
</body>
</html>