<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/users/top">美食達人</a>
  </li>
</ul>
<br /><br />
<h1>美食達人</h1>
<hr />
<div class="row" style="text-align: center;">
  {{#each users}}
    <div class="col-3">
      <a href="/users/{{id}}" class="avatar-link img-thumbnail">
        <img class="avatar" src="{{image}}">
        <div class="overlay"></div>
      </a>
      <a href="/users/{{id}}">
        <h2>{{name}}</h2>
      </a>
      <span class="badge badge-secondary">追蹤人數：{{FollowerCount}}</span>
      <div class="mt-2">
        {{#ifEqual id ../user.id}}
          {{!-- 對象為使用者自身，不顯示 follow 按鈕 --}}
        {{else}}
          {{#if isFollowed }}
            <form action="/following/{{id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-primary">Following</button>
            </form>
          {{else}}
            <form action="/following/{{id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-outline-primary">Follow</button>
            </form>
          {{/if}}
        {{/ifEqual}}
      </div>
    </div>
  {{/each}}
</div>