<div class="row">
  {{!-- user profile --}}
  <div class="col-12">
    <div class="card profile-card">
      <div class="row no-gutters">
        <div class="col-md-4 border-right p-3">
          <img src="{{showedUser.image}}" class="card-img" alt="avatar-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2>{{showedUser.name}}</h2>
            <p class="card-text">{{showedUser.email}}</p>
            {{#if isOwner}}
              {{!-- 自身 profile，顯示 Edit 按鈕 --}}
              <a href="/users/{{showedUser.id}}/edit" class="btn btn-primary">Edit</a>
            {{else}}
              {{!-- 他人 profile，顯示 follow 按鈕 --}}
              {{#if isFollowed }}
                <form action="/following/{{showedUser.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-primary">Following</button>
                </form>
              {{else}}
                <form action="/following/{{showedUser.id}}" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-outline-primary">Follow</button>
                </form>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- followings --}}
  <div class="col-12 col-md-5 order-1 order-md-1">
    <div class="card mt-4">
      <div class="card-header">{{following.count}} followings (追隨中)</div>
      <div class="card-body d-flex flex-wrap">
        {{#each following.users}}
          <a href="/users/{{id}}" class="res-link mr-2 mb-2 img-thumbnail" title="{{name}}">
            <div class="res-icon" style="background-image: url({{image}}), url('/img/loading.gif');"></div>
            <div class="overlay"></div>
          </a>
        {{else}} 
          <div class="img-thumbnail">
            <div class="res-icon"></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- 已評論餐廳 --}}
  <div class="col-12 col-md-7 order-3 order-md-2">
    <div class="card mt-4">
      <div class="card-header">{{comment.count}} 已評論餐廳</div>
      <div class="card-body d-flex flex-wrap">
        {{#each comment.comments}}
          <a href="/restaurants/{{Restaurant.id}}" class="res-link mr-2 mb-2 img-thumbnail" title="{{Restaurant.name}}">
            <div class="res-icon" style="background-image: url({{Restaurant.image}}), url('/img/loading.gif');"></div>
            <div class="overlay"></div>
          </a>
        {{else}}
          <div class="img-thumbnail">
            <div class="res-icon"></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- followers --}}
  <div class="col-12 col-md-5 order-2 order-md-3">
    <div class="card mt-4">
      <div class="card-header">{{follower.count}} followers (追隨者)</div>
      <div class="card-body d-flex flex-wrap">
        {{#each follower.users}}
          <a href="/users/{{id}}" class="res-link mr-2 mb-2 img-thumbnail" title="{{name}}">
            <div class="res-icon" style="background-image: url({{image}}), url('/img/loading.gif');"></div>
            <div class="overlay"></div>
          </a>
        {{else}}
          <div class="img-thumbnail">
            <div class="res-icon"></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- 收藏的餐廳 --}}
  <div class="col-12 col-md-7 order-4 order-md-4">
    <div class="card mt-4">
      <div class="card-header">{{favRestaurant.count}} 收藏的餐廳</div>
      <div class="card-body d-flex flex-wrap">
        {{#each favRestaurant.restaurants}}
          <a href="/restaurants/{{id}}" class="res-link mr-2 mb-2 img-thumbnail" title="{{name}}">
            <div class="res-icon" style="background-image: url({{image}}), url('/img/loading.gif');"></div>
            <div class="overlay"></div>
          </a>
        {{else}}
          <div class="img-thumbnail">
            <div class="res-icon"></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>