<div class="card flex-row">
  <img src="{{showUser.image}}" class="card-img-top w-25" alt="avatar-img">
  <div class="card-body">
    <h2>{{showUser.name}}</h2>
    <p class="card-text">{{showUser.email}}</p>
    {{#if isOwner}}
      <a href="/users/{{showUser.id}}/edit" class="btn btn-primary">Edit</a>
    {{/if}}
  </div>
</div>
<div class="card mt-4">
  <div class="card-header">{{count}} 已評論餐廳</div>
  <div class="card-body d-flex">
    {{#each comments}}
      <a href="/restaurants/{{Restaurant.id}}" class="res-link mr-2 img-thumbnail" title="{{Restaurant.name}}">
        <div class="res-icon" style="background-image: url({{Restaurant.image}});"></div>
        <div class="overlay"></div>
      </a>
    {{/each}}
  </div>
</div>